{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="mb-4">Inicio de Sesión</h2>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario:</label>
            <input type="text" name="username" id="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" name="password" id="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>

  {% if not user.is_authenticated %}
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <a href="{% url 'registro' %}" class="btn btn-secondary">Si no tienes cuenta, regístrate</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
