/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la tabla */
.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid black;
}

.table th {
  background-color: gray;
  color: white;
}

/* Estilos para el formulario */
form {
  width: 80%;
  margin: 20px auto;
}

form label, form input {
  display: block;
}

form label {
  margin-top: 10px;
}

form input[type="text"] {
  width: 100%;
}

form input[type="submit"] {
  margin-top: 20px;
  background-color: black;
  color: white;
}

.btn-primary {
    background-color: gray;
    color: white;
  }
  .btn-primary:hover {
    background-color: white;
    color: black;
  }
  
  .form-group {
    display: inline-block;
    vertical-align: middle;
  }
  