/* Estilos para el banner */
.banner {
    background-color: #f8f9fa; /* Puedes ajustar el color de fondo según tu paleta */
    padding: 80px 0;
  }
  
  .banner-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banner-subtitle {
    font-size: 20px;
    color: #6c757d; /* Puedes ajustar el color del texto según tu paleta */
    margin-bottom: 30px;
  }
  
  .btn-banner {
    font-size: 18px;
    padding: 12px 25px;
  }
.company-info {
    padding: 80px 0;
  }
  
  .company-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .company-info i {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .news {
    padding: 80px 0;
  }
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .news a {
    display: block;
    text-decoration: none;
    color: #333; /* Puedes ajustar el color del texto según tu paleta */
  }
  
  .news img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .news h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .news p {
    font-size: 16px;
  }

  .btn-primary {
    background-color: gray;
    color: white;
  }
  .btn-primary:hover {
    background-color: white;
    color: black;
  }
  